<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>c2oor</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head> 
<body>
<nav>
    <div class="nav">
        <div class="logo">
            <img src="./images/logo.png" alt="">
    </div>

    <div class="nav_bar">
        <ul class="myMenu">
            <li class="menu1"><a href="">store</a></li>
                <ul class="menu1_submenu">
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                    <li><a href="">메뉴3</a></li>
                </ul>
            <li class="menu2"><a href="">info</a></li>
                <ul class="menu1_submenu">
                    <li><a href="">메뉴1</a></li>
                    <li><a href="">메뉴2</a></li>
                    <li><a href="">메뉴3</a></li>
                </ul> 
        </ul>
    </div>
</nav>
<section class="backimg">
</section>
<footer>
    <nav>
        <p>회사주소: 인천광역시 서구 </p>
    </nav> 
    <p>
        <span>고객센터 : 1111-1111</span><br/>
        <span>이메일 : c2oor@gmail.com</span><br/>
        <span>근무시간 : AM 11:00 ~ PM 5:00</span>
    </p>
</footer>
</body>
</html>